services:
  openclaw-gateway:
<<<<<<< HEAD
    build:
      context: .
      dockerfile: Dockerfile
    image: openclaw:local
=======
    image: ${OPENCLAW_IMAGE:-openclaw:local}
>>>>>>> 860c90001 (chore(Dockerfile): install system build essentials required for Homebrew)
    environment:
      HOME: /home/node
      TERM: xterm-256color
      OPENCLAW_GATEWAY_TOKEN: ${OPENCLAW_GATEWAY_TOKEN}
      CLAUDE_AI_SESSION_KEY: ${CLAUDE_AI_SESSION_KEY}
      CLAUDE_WEB_SESSION_KEY: ${CLAUDE_WEB_SESSION_KEY}
      CLAUDE_WEB_COOKIE: ${CLAUDE_WEB_COOKIE}
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
      OPENCLAW_AGENT_DEFAULT_MODEL: ${OPENCLAW_AGENT_DEFAULT_MODEL}
    volumes:
<<<<<<< HEAD
      - ./data/config:/home/node/.openclaw
      - ./data/workspace:/home/node/.openclaw/workspace
      - ./data/brew:/home/linuxbrew/.linuxbrew
    ports:
      - "18789:18789"
      - "18790:18790"
=======
      - ${OPENCLAW_CONFIG_DIR}:/home/node/.openclaw
      - ${OPENCLAW_WORKSPACE_DIR}:/home/node/.openclaw/workspace
      - openclaw-brew:/home/linuxbrew/.linuxbrew
    ports:
      - "${OPENCLAW_GATEWAY_PORT:-18789}:18789"
      - "${OPENCLAW_BRIDGE_PORT:-18790}:18790"
>>>>>>> 860c90001 (chore(Dockerfile): install system build essentials required for Homebrew)
    init: true
    restart: unless-stopped
    command:
      [
        "node",
        "dist/index.js",
        "gateway",
        "--bind",
<<<<<<< HEAD
        "lan",
=======
        "${OPENCLAW_GATEWAY_BIND:-lan}",
>>>>>>> 860c90001 (chore(Dockerfile): install system build essentials required for Homebrew)
        "--port",
        "18789",
      ]

  openclaw-cli:
<<<<<<< HEAD
    build:
      context: .
      dockerfile: Dockerfile
    image: openclaw:local
=======
    image: ${OPENCLAW_IMAGE:-openclaw:local}
>>>>>>> 860c90001 (chore(Dockerfile): install system build essentials required for Homebrew)
    environment:
      HOME: /home/node
      TERM: xterm-256color
      OPENCLAW_GATEWAY_TOKEN: ${OPENCLAW_GATEWAY_TOKEN}
      BROWSER: echo
      CLAUDE_AI_SESSION_KEY: ${CLAUDE_AI_SESSION_KEY}
      CLAUDE_WEB_SESSION_KEY: ${CLAUDE_WEB_SESSION_KEY}
      CLAUDE_WEB_COOKIE: ${CLAUDE_WEB_COOKIE}
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
      OPENCLAW_AGENT_DEFAULT_MODEL: ${OPENCLAW_AGENT_DEFAULT_MODEL}
    volumes:
<<<<<<< HEAD
      - ./data/config:/home/node/.openclaw
      - ./data/workspace:/home/node/.openclaw/workspace
      - ./data/brew:/home/linuxbrew/.linuxbrew
    stdin_open: true
    tty: true
    init: true
    restart: "no"
    entrypoint: ["node", "dist/index.js"]
=======
      - ${OPENCLAW_CONFIG_DIR}:/home/node/.openclaw
      - ${OPENCLAW_WORKSPACE_DIR}:/home/node/.openclaw/workspace
      - openclaw-brew:/home/linuxbrew/.linuxbrew
    stdin_open: true
    tty: true
    init: true
    entrypoint: ["node", "dist/index.js"]

volumes:
  openclaw-brew:
>>>>>>> 860c90001 (chore(Dockerfile): install system build essentials required for Homebrew)
